@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700|Rubik+Maps&display=swap|Poppins:100,200,300,400,500,600,700');


/*--------------------------------------------------Colors */
.bg-color-name-title {
    background-color: #676767;
}

.menu-color-1 {
    background-color: rgb(10, 199, 136);
}

.menu-color-2 {
    background-color: rgb(51, 218, 247);
}

.menu-color-3 {
    background-color: rgb(243, 212, 57);
}

.menu-color-4 {
    background-color: rgb(244, 125, 206);
}

/* ----------------------------------------Special paddings/margins/text */

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-weight: 300;
    color: #fafafa;
}

.inline-block {
    display: inline-block;
}

/*--------------------------------------------------Heading */

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo {
    background: url("../images/1033.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
}

.name {
    font-family: "Rubik Maps", system-ui;
    text-transform: uppercase;
    color: white;
    font-size: 46px;
    margin-top: 50px;
}

.title {
    font-family: "Rubik Maps", system-ui;
    color: white;
    font-size: 28px;
    margin-bottom: 90px;
    margin-top: 20px;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menu-container {
    font-size: 0;
    margin: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

.menu-item {
    height: 120px;
    text-align: center;
    padding: 0;
}

/*This makes the whole area clickable not only the a text, and removes the line with text-decor*/
.menu-item a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 120px;
}

.menu-item span {
    width: 100%;
    padding-top: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}

/*--------------------------------------------------Heading */

.hvr-sweep-to-bottom:before {
    height: 120px;
    background: rgba(0, 0, 0, 0.2);
}

/* ----------------------------------------Footer */

footer {
    background-color: #676767;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

.portfolio-pdf i {
    font-size: 18px;
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.portfolio-pdf i:hover {
    color: #f57aca;
}

.social-links li a i {
    color: #fafafa;
    width: 32px;
    height: 32px;
    background: #8f8f8f;
    border-radius: 50%;
    padding: 12px 0;
    text-align: center;
    line-height: 7px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #f57aca;
}

#footer-details {
    padding: 20px;
}